<p style="color: green"><%= notice %></p>


<div class="jumbotron">
  <h1 class="display-4"><%= @professor.name %></h1>
  
  <br>

  <h2>Professor page</h2>
    <h3>Professor ratings: <%= @professor.reviews.average(:rating) %></h3>
  <div>

  <div>
  <%= link_to 'Add reviews', new_review_path, class:"btn btn-secondary" %>
  </div>

 

</div>



